<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="username" [(ngModel)]="loginUser.username" name="username"/>
            <input type="password" placeholder="password" [(ngModel)]="loginUser.password" name="password"/>
            <button (click)="login()">Login</button>

            <!--<p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>-->
        </form>
    </div>
</div>