<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>empID</th>
        <th>empName</th>
        <th>empActive</th>
        <th>empDepartment</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <input type="text" placeholder="Employee name..." [(ngModel)]="searchText">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-tr" *ngFor="let item of collection | paginate: {itemsPerPage: 8, currentPage:p} | filter:searchText"
        style="padding: 10px;">
        <td style="width: 70px;">
            <button class="button button-success" (click)="open(viewEmployee, item)">View</button>
        </td>
        <td style="width: 70px;">
            <button class="button button-warning" (click)="open(editEmployee, item)">Edit</button>
        </td>
        <td style="width: 50px;">{{item.empId ? item.empId : ''}}</td>
        <td style="width: 200px;">{{item.empName ? item.empName : ''}}</td>
        <td style="width: 40px;">{{item.empActive === 1 ? 'Yes' : 'No' }}</td>
        <td style="width: 150px;">{{item.dpName ? item.dpName : ''}}</td>
        <td style="width: 70px;">
            <button class="button button-danger" (click)="removeEmployee(item.empId)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<div class="center-paging">
    <div id="pagination">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>
</div>

<ng-template #editEmployee let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <div>
                    <label for="name">empName:</label>
                </div>
                <div>
                    <input id="name" [(ngModel)]="selectedEmployee.empName"/>
                </div>
            </div>
            <div>
                <div>
                    <label for="active">empActive:</label>
                </div>
                <div>
                    <input type="checkbox" id="active" [(ngModel)]="selectedEmployee.empActive"/>
                </div>
            </div>
            <div>
                <div><label>empDepartment:</label></div>
                <select (change)="selectedEmployee.emp_dpID = +$event.target.value">
                    <option *ngFor="let department of arrDepartments" value={{department.value}}>
                        {{department.label}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cross click');">Close</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); saveEmployee();">Save
        </button>
    </div>
</ng-template>

<ng-template #viewEmployee let-modal2>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal2.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <div>
                    <label>empName: </label> <span class="indent-left">{{selectedEmployee.empName ? selectedEmployee.empName : ''}}</span>
                </div>
                <div>
                    <label>empActive: </label> <span class="indent-left">{{selectedEmployee.empActive ? 'Yes' : 'No'}}</span>
                </div>
                <div>
                    <label>empDepartment: </label> <span class="indent-left">{{selectedEmployee.emp_dpID ? selectedEmployee.emp_dpID : ''}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal2.close('Cross click');">Ok</button>
    </div>
</ng-template>

