.container {
    margin: 15px;
}

.button {
    padding: 5px;
    background-color: #2199e8;
    border: transparent solid 1px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.button-success {
    background-color: #1de848;
}

.button-success:hover {
    background-color: #1cc740;
}

.button-danger {
    background-color: #d4272d;
}

.button-danger:hover {
    background-color: #ab252b;
}

.button-warning {
    background-color: #d8d800;
}

.button-warning:hover {
    background-color: #c0c000;
}

.table {
    padding: 25px;
    border: 1px solid #383838;
    border-collapse: collapse;
}

.center {
    margin: auto;
}

.center-paging {
    margin: auto;
    width: 19em;
}

.row-td {
    padding: 10px;
}

.row-tr {
    background-color: #ffffff;
}

.row-tr:hover {
    background-color: #e1e1e1;
}

.indent-left {
    margin-left: 5px;
}

td {
    border: solid 1px #dee2e6;
    vertical-align: middle !important;
}

th {
    border: 1px solid #dee2e6 !important;
}