<div class="top-hat">
    <a class="nav-item nav-link" routerLink="/home">Home</a>
    <a class="nav-item nav-link" routerLink="/">Employees</a>
    <span class="spacer"></span>
    <a class="nav-item nav-link" routerLink="/login" (click)="goToLogout()">Logout</a>

</div>

<router-outlet></router-outlet>